.SnakeApp {
  width:500px;
  height: 500px;  
  border: 1px solid #000;
  margin: 20px auto;
  font-size: 0;
}

.Snakesmallgrid{
  width: 50px;
  height: 50px;
  outline: 1px solid #000;
  display: inline-block;
  margin:0;

}
.Snakesmallgrid.food{
  background: #000;
}
.Snakesmallgrid.snakepresent{
  background: red;
}

#one {
  
}